<html>
  <body>

  <h1>Average values</h1>

  <p>Average income is : {{ average_incomes }}</p>
  <p>Average expenses is : {{ average_expenses }}</p>


  <h1>Providers</h1>

  <ul>
      {% for provider in providers %}
      <li>
        Name: {{ provider.name }}
        <ul>
            <li>
              Incomes: {{ provider.incomes }}
            </li>
            <li>
              Expenses: {{ provider.expenses }}
            </li>
        </ul>
      </li>
      {% endfor %}
  </ul>
  </body>
</html>
